	
<h1> Welcome <b> [[ user.username ]] </b> to Project Moksaya </h1>

<h4>Profile List</h4> 

	 <ul>

	   <li ng-repeat="profile in profile.objects">[[ profile.user ]]
	     <ul><li>[[ profile.about_me ]]</li></ul>
	     <ul><li ng-repeat="project in profile.projects">
	      <ul>
		<li>[[ project.title ]]</li>
		<div class="thumbnail"> <a class="thumb"><img ng-src="http://localhost:8000[[ project.screenshot]]" height="400" width="400"></a></div>
		<li><a href="http://localhost:8000[[ project.src ]]">Download Source </a></li>
	     </ul>
	   </li>
	         
	  </ul> 
