
<div class="container"> 
  <form ng-submit="Login()" class="form-signin">
    
    
              <h2 class="form-signin-heading">Project Moksaya </h2>
                <input type="text" class="form-control" ng-model="username" placeholder="username">
                
                <input type="password" class="form-control" ng-model="password" placeholder="Password">
                <button class="btn btn-lg btn-primary btn-block submit-Login()" type="submit">Sign in</button>
		<center><b> or </a></center>
		<a href="#/register"> <button class="btn btn-lg btn-primary btn-block" type="submit">Join</button></a>
            </form>

</div>

