<div class="page-header pull-right">
  <a href="#/wall/[[ profile.username]]"><h1>[[ user.username ]]</h1> </a>
</div>

<button class="btn btn-lg btn-primary  pull-right" ng-click="Logout()">Sign out</button>

<div class="herounit">
  <div class="container">
    <div class="row-fluid">
    <h1>Hello, [[ profile.user]] </h1>
    <a href="#/wall/[[ profile.user]]">My Profile</a><br>
    <a href="#/wall/edit/[[ profile.user ]]">Edit Profile </a><br>
    <a href="#/upload/">Upload Project</a>
    <div ng-click="hideTooltip()"><div class="tooltip" ng-click="$event.stopPropagation()" ng-show="showtooltip">
<input type="text" ng-model="profile.about_me" />
    </div>

<p ng-click="toggleTooltip($event)">[[ profile.about_me]]</p>

      </div>
    <p> Followers :<span class="badge"> [[ profile.followers.length]] </span> </p>
    <li ng-repeat="followers in profile.followers"><a href="#/wall/[[followers]]">[[ followers ]]</a> </li>
    
    <p> Following :<span class="badge"> [[ profile.following.length]]</span> </p>
    <li ng-repeat="following in profile.following"><a href="#/wall/[[ following ]]">[[ following ]]</a></li>
    </div>
  </div>

<div class="row-fluid">
 
  <div class="col-sm-6 col-md-3"  ng-repeat="project in profile.projects">
    <div class="thumbnail">
        <img ng-src="http://127.0.0.1:8000[[ project.screenshot ]]" height="320" width="240">
    <div class="caption">
      <h5>[[ project.title ]]</h5>
    
       <p>[[project.desc | words:10 :true ]]</p>
        <p><a href="http://127.0.0.1:8000[[ project.src ]]" class="btn btn-lg btn-primary">Download</a> <a href="#/project/[[project.id]]" class="btn btn-lg btn-default">view</a> <button class="btn btn-lg">Likes [[ project.Likes]]</button></p>
      </div>
   </div>
</div>
</div>



 
