
<div class="container"> 
  <form ng-submit="Signup()" class="form-signin">
    
    
              <h2 class="form-signin-heading">Project Moksaya </h2>
                <input type="text" class="form-control" ng-model="register.username" placeholder="username">
		<input type="text" class="form-control" ng-model="register.email" placeholder="Email">
		<input type="password" class="form-control" ng-model="register.password" placeholder="Password">
		<input type="password" class="form-control" ng-model="register.checkpassword" placeholder="Retype Password">
                <button class="btn btn-lg btn-primary btn-block submit-Signup()" type="submit">Sign uP</button>
            </form>

</div>
